################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmbyWakeupTrigger/bin/Debug
/EmbyWakeupTrigger/bin/Release
/EmbyWakeupTrigger/obj/Debug
/EmbyWakeupTrigger/obj/Release