################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmbyWakeupTrigger/obj/Debug/CoreCompileInputs.cache
/EmbyWakeupTrigger/obj/Release/CoreCompileInputs.cache
/test
/.vs
