################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmbyWakeupTrigger/obj/Debug/CoreCompileInputs.cache
/.vs/slnx.sqlite
/EmbyWakeupTrigger/obj/Release/CoreCompileInputs.cache
/.vs/slnx.sqlite
